/*MENU*/
.logo{
    position: relative;
    width: 350px;
    height: 350px;
    margin-left: 500px       ;
}

.container-fluid{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #8e9b66;
    font-size: 20px;
    height: 400px;
}

.navbar-collapse{
    position: absolute;
    margin-left: 300px !important;
    margin-top: 350px;
    margin-bottom: 30px;
}

.navbar-nav li{
    padding:10px;
}

.nav-item :hover {
    background: #c6cebb;
    font-family: tahoma;
    border-radius: 20px 0px 20px 0px;
    text-decoration: none;    
}
/*FIM MENU*/


/*CONTATO*/
.contato{
    text-align: center;
    font-size: 50px;
    font-family: tahoma;
    color: #2b4521;
    padding-top: 20px;
}


#container2{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.email{
    text-align: center;
    display: inline-table;
    width: 350px;
    margin:10px;
    background:#c2d4a5;
    border: 1px solid #000000;
    border-radius: 10px;
    float: left;
}

.zap{
    text-align: center;
    display: inline-table;
    width: 350px;
    margin: 10px;
    background:#c2d4a5;
    border: 1px solid #000000;
    border-radius: 10px;
    float: left;
}

.instagram{
    text-align: center;
    display: inline-table;
    width: 350px;
    margin: 10px;
    background:#c2d4a5;
    border: 1px solid #000000;
    border-radius: 10px;
    float: left;
}

#zap, #insta, #email{
    width: 50px;
    height: 50px;
}

a.linkform:link{
    text-decoration: none;
    color: #2b4521;
    font-family: tahoma;
}

a.linkform:hover{
    font-size: 20px;
}

.h2e{
    font-family: tahoma;
    font-size: 25px;
    color: #2b4521;
}

#nome_style {
    width: 300px;
}

#mensagem_style {
    width: 300px;
    min-height: 100px;
}
#enviar_style {
    height: 30px;
}


.rodape {
    text-align: center;
    font: 15pt Arial;
}